[submodule "ci-scripts"]
	path = ci-scripts
	url = git@github.com:carnegiemellonracing/ci-scripts.git
[submodule "stm32f413-drivers"]
	path = stm32f413-drivers
	url = git@github.com:carnegiemellonracing/stm32f413-drivers.git
[submodule "cJSON"]
	path = cJSON
	url = git@github.com:repmop/cJSON.git
[submodule "cn-cbor"]
	path = cn-cbor
	url = git@github.com:repmop/cn-cbor.git
