source [find interface/stlink.cfg]
transport select swd
source [find target/stm32f4x.cfg]

# core clock your SysClk is actually running at — must match trace_init() arg
set CORE_CLOCK_HZ 96000000

bindto 0.0.0.0
tpiu config internal itm.fifo uart off $CORE_CLOCK_HZ 2000000

init